 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/ff.png");
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 675px;
}

.u-section-1 .u-text-1 {
  font-family: OldLondonAlternate;
  font-weight: 300;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 356px;
  margin: 298px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 75px;
  margin: 215px 81px 8px 117px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 238px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 36px 212px 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 900;
  margin: 44px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 159px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 100px;
  }
}
/* page-custom-fonts */
@font-face {
  font-family: 'OldLondonAlternate';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/OldLondonAlternate.ttf);
}